@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#main .swiper-pagination{
    margin-top: 20px;
    position: relative;
    bottom: 0px !important;
    left: 50% !important;
    transform: translateX(-50%) !important; 
}

#main .swiper-pagination-bullet{
    background: rgb(133, 133, 133);
}
  
